/* line 13, ../sass/global/_surgical.scss */
.easyir-mtn {
  margin-top: 0;
}

/* line 13, ../sass/global/_surgical.scss */
.easyir-mts {
  margin-top: 5px;
}

/* line 13, ../sass/global/_surgical.scss */
.easyir-mtm {
  margin-top: 10px;
}

/* line 13, ../sass/global/_surgical.scss */
.easyir-mtl {
  margin-top: 20px;
}

/* line 13, ../sass/global/_surgical.scss */
.easyir-mbn {
  margin-bottom: 0;
}

/* line 13, ../sass/global/_surgical.scss */
.easyir-mbs {
  margin-bottom: 5px;
}

/* line 13, ../sass/global/_surgical.scss */
.easyir-mbm {
  margin-bottom: 10px;
}

/* line 13, ../sass/global/_surgical.scss */
.easyir-mbl {
  margin-bottom: 20px;
}

/* line 13, ../sass/global/_surgical.scss */
.easyir-mln {
  margin-left: 0;
}

/* line 13, ../sass/global/_surgical.scss */
.easyir-mls {
  margin-left: 5px;
}

/* line 13, ../sass/global/_surgical.scss */
.easyir-mlm {
  margin-left: 10px;
}

/* line 13, ../sass/global/_surgical.scss */
.easyir-mll {
  margin-left: 20px;
}

/* line 13, ../sass/global/_surgical.scss */
.easyir-mrn {
  margin-right: 0;
}

/* line 13, ../sass/global/_surgical.scss */
.easyir-mrs {
  margin-right: 5px;
}

/* line 13, ../sass/global/_surgical.scss */
.easyir-mrm {
  margin-right: 10px;
}

/* line 13, ../sass/global/_surgical.scss */
.easyir-mrl {
  margin-right: 20px;
}

/* line 9, ../sass/global/_surgical.scss */
.easyir-man {
  margin: 0;
}

/* line 9, ../sass/global/_surgical.scss */
.easyir-mas {
  margin: 5px;
}

/* line 9, ../sass/global/_surgical.scss */
.easyir-mam {
  margin: 10px;
}

/* line 9, ../sass/global/_surgical.scss */
.easyir-mal {
  margin: 20px;
}

/* line 13, ../sass/global/_surgical.scss */
.easyir-ptn {
  padding-top: 0;
}

/* line 13, ../sass/global/_surgical.scss */
.easyir-pts {
  padding-top: 5px;
}

/* line 13, ../sass/global/_surgical.scss */
.easyir-ptm {
  padding-top: 10px;
}

/* line 13, ../sass/global/_surgical.scss */
.easyir-ptl {
  padding-top: 20px;
}

/* line 13, ../sass/global/_surgical.scss */
.easyir-pbn {
  padding-bottom: 0;
}

/* line 13, ../sass/global/_surgical.scss */
.easyir-pbs {
  padding-bottom: 5px;
}

/* line 13, ../sass/global/_surgical.scss */
.easyir-pbm {
  padding-bottom: 10px;
}

/* line 13, ../sass/global/_surgical.scss */
.easyir-pbl {
  padding-bottom: 20px;
}

/* line 13, ../sass/global/_surgical.scss */
.easyir-pln {
  padding-left: 0;
}

/* line 13, ../sass/global/_surgical.scss */
.easyir-pls {
  padding-left: 5px;
}

/* line 13, ../sass/global/_surgical.scss */
.easyir-plm {
  padding-left: 10px;
}

/* line 13, ../sass/global/_surgical.scss */
.easyir-pll {
  padding-left: 20px;
}

/* line 13, ../sass/global/_surgical.scss */
.easyir-prn {
  padding-right: 0;
}

/* line 13, ../sass/global/_surgical.scss */
.easyir-prs {
  padding-right: 5px;
}

/* line 13, ../sass/global/_surgical.scss */
.easyir-prm {
  padding-right: 10px;
}

/* line 13, ../sass/global/_surgical.scss */
.easyir-prl {
  padding-right: 20px;
}

/* line 9, ../sass/global/_surgical.scss */
.easyir-pan {
  padding: 0;
}

/* line 9, ../sass/global/_surgical.scss */
.easyir-pas {
  padding: 5px;
}

/* line 9, ../sass/global/_surgical.scss */
.easyir-pam {
  padding: 10px;
}

/* line 9, ../sass/global/_surgical.scss */
.easyir-pal {
  padding: 20px;
}

/* line 21, ../sass/global/_surgical.scss */
.easyir-center {
  text-align: center;
}

/* line 25, ../sass/global/_surgical.scss */
.easyir-section--content {
  max-width: 800px;
  margin: 0 auto;
}

/* line 3, ../sass/partials/_base.scss */
html,
body,
.ember-view {
  height: 100%;
  font-family: 'Ubuntu', 'Raleway', sans-serif;
  margin: 0;
}

/* line 9, ../sass/partials/_base.scss */
a {
  text-decoration: none;
}

/* line 1, ../sass/partials/modules/_header.scss */
.easyir-header {
  height: 100px;
  position: fixed;
  top: 0;
  opacity: 0.8;
  width: 100%;
  background-color: white;
}

/* line 27, ../sass/partials/modules/_page.scss */
.easyir-section {
  line-height: 0;
  padding: 100px 25px;
  box-sizing: border-box;
}

/* line 34, ../sass/partials/modules/_page.scss */
.easyir-section--content {
  line-height: 2;
}

/* line 39, ../sass/partials/modules/_page.scss */
.easyir-section--content-footer {
  padding: 30px 25px;
  line-height: normal;
}

/* line 45, ../sass/partials/modules/_page.scss */
.easyir-section--content-header {
  position: relative;
  height: 100%;
  max-width: 1000px;
  margin: auto;
}

/* line 52, ../sass/partials/modules/_page.scss */
.easyir-section--heading {
  margin: 0;
  padding: 0;
  line-height: normal;
}
/* line 57, ../sass/partials/modules/_page.scss */
.easyir-section--heading .easyir-section--heading-primary {
  font-weight: 300;
  font-size: 48px;
  margin: 10px 0;
}
/* line 63, ../sass/partials/modules/_page.scss */
.easyir-section--heading .easyir-section--heading-secondary {
  font-weight: 300;
  font-size: 36px;
  margin: 10px 0;
}
/* line 69, ../sass/partials/modules/_page.scss */
.easyir-section--heading .easyir-section--heading-tertiary {
  font-weight: 300;
  font-size: 20px;
  margin: 0;
}
/* line 75, ../sass/partials/modules/_page.scss */
.easyir-section--heading .easyir-section--sub-heading {
  font-weight: normal;
  font-size: 18px;
  line-height: 2;
}

/* line 7, ../sass/partials/modules/_page.scss */
.easyir-page-teal1 {
  background-color: #1693a5;
}

/* line 11, ../sass/partials/modules/_page.scss */
.easyir-section-teal1 {
  background-color: #1693a5;
  color: white;
}
/* line 15, ../sass/partials/modules/_page.scss */
.easyir-section-teal1 .easyir-section--heading-underline {
  border-bottom: 1px solid white;
}
/* line 19, ../sass/partials/modules/_page.scss */
.easyir-section-teal1 .easyir-section--sub-heading {
  color: white;
}

/* line 7, ../sass/partials/modules/_page.scss */
.easyir-page-teal2 {
  background-color: #45b5c4;
}

/* line 11, ../sass/partials/modules/_page.scss */
.easyir-section-teal2 {
  background-color: #45b5c4;
  color: white;
}
/* line 15, ../sass/partials/modules/_page.scss */
.easyir-section-teal2 .easyir-section--heading-underline {
  border-bottom: 1px solid white;
}
/* line 19, ../sass/partials/modules/_page.scss */
.easyir-section-teal2 .easyir-section--sub-heading {
  color: white;
}

/* line 7, ../sass/partials/modules/_page.scss */
.easyir-page-teal3 {
  background-color: #7ececa;
}

/* line 11, ../sass/partials/modules/_page.scss */
.easyir-section-teal3 {
  background-color: #7ececa;
  color: white;
}
/* line 15, ../sass/partials/modules/_page.scss */
.easyir-section-teal3 .easyir-section--heading-underline {
  border-bottom: 1px solid white;
}
/* line 19, ../sass/partials/modules/_page.scss */
.easyir-section-teal3 .easyir-section--sub-heading {
  color: white;
}

/* line 7, ../sass/partials/modules/_page.scss */
.easyir-page-teal4 {
  background-color: #a0ded6;
}

/* line 11, ../sass/partials/modules/_page.scss */
.easyir-section-teal4 {
  background-color: #a0ded6;
  color: white;
}
/* line 15, ../sass/partials/modules/_page.scss */
.easyir-section-teal4 .easyir-section--heading-underline {
  border-bottom: 1px solid white;
}
/* line 19, ../sass/partials/modules/_page.scss */
.easyir-section-teal4 .easyir-section--sub-heading {
  color: white;
}

/* line 7, ../sass/partials/modules/_page.scss */
.easyir-page-brown1 {
  background-color: #b0a18f;
}

/* line 11, ../sass/partials/modules/_page.scss */
.easyir-section-brown1 {
  background-color: #b0a18f;
  color: white;
}
/* line 15, ../sass/partials/modules/_page.scss */
.easyir-section-brown1 .easyir-section--heading-underline {
  border-bottom: 1px solid white;
}
/* line 19, ../sass/partials/modules/_page.scss */
.easyir-section-brown1 .easyir-section--sub-heading {
  color: white;
}

/* line 7, ../sass/partials/modules/_page.scss */
.easyir-page-brown2 {
  background-color: #dfcdb4;
}

/* line 11, ../sass/partials/modules/_page.scss */
.easyir-section-brown2 {
  background-color: #dfcdb4;
  color: white;
}
/* line 15, ../sass/partials/modules/_page.scss */
.easyir-section-brown2 .easyir-section--heading-underline {
  border-bottom: 1px solid white;
}
/* line 19, ../sass/partials/modules/_page.scss */
.easyir-section-brown2 .easyir-section--sub-heading {
  color: white;
}

/* line 7, ../sass/partials/modules/_page.scss */
.easyir-page-brown3 {
  background-color: #fbeed3;
}

/* line 11, ../sass/partials/modules/_page.scss */
.easyir-section-brown3 {
  background-color: #fbeed3;
  color: white;
}
/* line 15, ../sass/partials/modules/_page.scss */
.easyir-section-brown3 .easyir-section--heading-underline {
  border-bottom: 1px solid white;
}
/* line 19, ../sass/partials/modules/_page.scss */
.easyir-section-brown3 .easyir-section--sub-heading {
  color: white;
}

/* line 3, ../sass/partials/modules/_transitions.scss */
.easyir-slide-btn {
  position: absolute;
  top: 50%;
}

/* line 8, ../sass/partials/modules/_transitions.scss */
.easyir-slide-btn-prev {
  left: 10px;
}

/* line 12, ../sass/partials/modules/_transitions.scss */
.easyir-slide-btn-next {
  right: 10px;
}

/* line 16, ../sass/partials/modules/_transitions.scss */
.easyir-story {
  height: 100%;
  position: relative;
  white-space: nowrap;
  overflow-x: hidden;
}

/* line 23, ../sass/partials/modules/_transitions.scss */
.easyir-slide {
  display: inline-block;
  position: relative;
  height: 100%;
  width: 100%;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.6s;
  -moz-transition-duration: 0.6s;
  -o-transition-duration: 0.6s;
  transition-duration: 0.6s;
  -webkit-transition-timing-function: ease-in-out;
  -moz-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
}

/* line 34, ../sass/partials/modules/_transitions.scss */
.easyir-story-slide1 .easyir-slide {
  left: 0;
}

/* line 40, ../sass/partials/modules/_transitions.scss */
.easyir-story-slide2 .easyir-slide {
  left: -100%;
}

/* line 46, ../sass/partials/modules/_transitions.scss */
.easyir-story-slide3 .easyir-slide {
  left: -200%;
}

/* line 52, ../sass/partials/modules/_transitions.scss */
.easyir-story-slide4 .easyir-slide {
  left: -300%;
}

/* line 59, ../sass/partials/modules/_transitions.scss */
.easyir-story-btn {
  position: absolute;
  left: 50%;
}

/* line 64, ../sass/partials/modules/_transitions.scss */
.easyir-story-btn-prev {
  top: 10px;
}

/* line 68, ../sass/partials/modules/_transitions.scss */
.easyir-story-btn-next {
  bottom: 10px;
}

/* line 72, ../sass/partials/modules/_transitions.scss */
.easyir-main {
  height: 100%;
  position: relative;
  overflow-y: hidden;
}

/* line 78, ../sass/partials/modules/_transitions.scss */
.easyir-story {
  position: relative;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.6s;
  -moz-transition-duration: 0.6s;
  -o-transition-duration: 0.6s;
  transition-duration: 0.6s;
  -webkit-transition-timing-function: ease-in-out;
  -moz-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
}

/* line 86, ../sass/partials/modules/_transitions.scss */
.easyir-main-story1 .easyir-story {
  top: 0;
}

/* line 92, ../sass/partials/modules/_transitions.scss */
.easyir-main-story2 .easyir-story {
  top: -100%;
}

/* line 98, ../sass/partials/modules/_transitions.scss */
.easyir-main-story3 .easyir-story {
  top: -200%;
}

/* line 104, ../sass/partials/modules/_transitions.scss */
.easyir-main-story4 .easyir-story {
  top: -300%;
}
