/* line 13, ../sass/global/_surgical.scss */
.easyir-mtn {
  margin-top: 0;
}

/* line 13, ../sass/global/_surgical.scss */
.easyir-mts {
  margin-top: 5px;
}

/* line 13, ../sass/global/_surgical.scss */
.easyir-mtm {
  margin-top: 10px;
}

/* line 13, ../sass/global/_surgical.scss */
.easyir-mtl {
  margin-top: 20px;
}

/* line 13, ../sass/global/_surgical.scss */
.easyir-mbn {
  margin-bottom: 0;
}

/* line 13, ../sass/global/_surgical.scss */
.easyir-mbs {
  margin-bottom: 5px;
}

/* line 13, ../sass/global/_surgical.scss */
.easyir-mbm {
  margin-bottom: 10px;
}

/* line 13, ../sass/global/_surgical.scss */
.easyir-mbl {
  margin-bottom: 20px;
}

/* line 13, ../sass/global/_surgical.scss */
.easyir-mln {
  margin-left: 0;
}

/* line 13, ../sass/global/_surgical.scss */
.easyir-mls {
  margin-left: 5px;
}

/* line 13, ../sass/global/_surgical.scss */
.easyir-mlm {
  margin-left: 10px;
}

/* line 13, ../sass/global/_surgical.scss */
.easyir-mll {
  margin-left: 20px;
}

/* line 13, ../sass/global/_surgical.scss */
.easyir-mrn {
  margin-right: 0;
}

/* line 13, ../sass/global/_surgical.scss */
.easyir-mrs {
  margin-right: 5px;
}

/* line 13, ../sass/global/_surgical.scss */
.easyir-mrm {
  margin-right: 10px;
}

/* line 13, ../sass/global/_surgical.scss */
.easyir-mrl {
  margin-right: 20px;
}

/* line 9, ../sass/global/_surgical.scss */
.easyir-man {
  margin: 0;
}

/* line 9, ../sass/global/_surgical.scss */
.easyir-mas {
  margin: 5px;
}

/* line 9, ../sass/global/_surgical.scss */
.easyir-mam {
  margin: 10px;
}

/* line 9, ../sass/global/_surgical.scss */
.easyir-mal {
  margin: 20px;
}

/* line 13, ../sass/global/_surgical.scss */
.easyir-ptn {
  padding-top: 0;
}

/* line 13, ../sass/global/_surgical.scss */
.easyir-pts {
  padding-top: 5px;
}

/* line 13, ../sass/global/_surgical.scss */
.easyir-ptm {
  padding-top: 10px;
}

/* line 13, ../sass/global/_surgical.scss */
.easyir-ptl {
  padding-top: 20px;
}

/* line 13, ../sass/global/_surgical.scss */
.easyir-pbn {
  padding-bottom: 0;
}

/* line 13, ../sass/global/_surgical.scss */
.easyir-pbs {
  padding-bottom: 5px;
}

/* line 13, ../sass/global/_surgical.scss */
.easyir-pbm {
  padding-bottom: 10px;
}

/* line 13, ../sass/global/_surgical.scss */
.easyir-pbl {
  padding-bottom: 20px;
}

/* line 13, ../sass/global/_surgical.scss */
.easyir-pln {
  padding-left: 0;
}

/* line 13, ../sass/global/_surgical.scss */
.easyir-pls {
  padding-left: 5px;
}

/* line 13, ../sass/global/_surgical.scss */
.easyir-plm {
  padding-left: 10px;
}

/* line 13, ../sass/global/_surgical.scss */
.easyir-pll {
  padding-left: 20px;
}

/* line 13, ../sass/global/_surgical.scss */
.easyir-prn {
  padding-right: 0;
}

/* line 13, ../sass/global/_surgical.scss */
.easyir-prs {
  padding-right: 5px;
}

/* line 13, ../sass/global/_surgical.scss */
.easyir-prm {
  padding-right: 10px;
}

/* line 13, ../sass/global/_surgical.scss */
.easyir-prl {
  padding-right: 20px;
}

/* line 9, ../sass/global/_surgical.scss */
.easyir-pan {
  padding: 0;
}

/* line 9, ../sass/global/_surgical.scss */
.easyir-pas {
  padding: 5px;
}

/* line 9, ../sass/global/_surgical.scss */
.easyir-pam {
  padding: 10px;
}

/* line 9, ../sass/global/_surgical.scss */
.easyir-pal {
  padding: 20px;
}

/* line 21, ../sass/global/_surgical.scss */
.easyir-center {
  text-align: center;
}

/* line 25, ../sass/global/_surgical.scss */
.easyir-section--content {
  max-width: 800px;
  margin: 0 auto;
}

/* line 3, ../sass/partials/_base.scss */
html,
body,
.ember-view {
  height: 100%;
  font-family: 'Ubuntu', 'Raleway', sans-serif;
  margin: 0;
}

/* line 27, ../sass/partials/modules/_page.scss */
.easyir-page {
  min-height: 100%;
}

/* line 31, ../sass/partials/modules/_page.scss */
.easyir-page--header {
  margin-top: -60px;
}
/* line 34, ../sass/partials/modules/_page.scss */
.easyir-page--header:before {
  content: '';
  display: block;
  height: 60px;
}

/* line 41, ../sass/partials/modules/_page.scss */
.easyir-page--footer {
  margin-bottom: -92px;
}
/* line 44, ../sass/partials/modules/_page.scss */
.easyir-page--footer:after {
  content: '';
  display: block;
  height: 92px;
}

/* line 51, ../sass/partials/modules/_page.scss */
.easyir-section {
  line-height: 0;
  padding: 100px 25px;
}

/* line 57, ../sass/partials/modules/_page.scss */
.easyir-section-header {
  position: relative;
  height: 70px;
  padding: 0;
}

/* line 62, ../sass/partials/modules/_page.scss */
.easyir-section-footer {
  height: 92px;
  padding: 0;
}

/* line 67, ../sass/partials/modules/_page.scss */
.easyir-section--image {
  width: 100%;
}

/* line 71, ../sass/partials/modules/_page.scss */
.easyir-section--content {
  line-height: 2;
}

/* line 76, ../sass/partials/modules/_page.scss */
.easyir-section--table {
  display: table;
  table-layout: fixed;
}

/* line 81, ../sass/partials/modules/_page.scss */
.easyir-section--table-cell {
  display: table-cell;
  vertical-align: middle;
  width: 50%;
}

/* line 87, ../sass/partials/modules/_page.scss */
.easyir-section--table-cell-img {
  padding: 0 20px;
}

/* line 91, ../sass/partials/modules/_page.scss */
.easyir-section--content-footer {
  padding: 30px 25px;
  line-height: normal;
}

/* line 97, ../sass/partials/modules/_page.scss */
.easyir-section--content-header {
  position: relative;
  height: 100%;
  max-width: 1000px;
  margin: auto;
}

/* line 104, ../sass/partials/modules/_page.scss */
.easyir-section--heading {
  margin: 0;
  padding: 0;
  line-height: normal;
}
/* line 109, ../sass/partials/modules/_page.scss */
.easyir-section--heading .easyir-section--heading-primary {
  font-weight: 300;
  font-size: 48px;
  margin: 10px 0;
}
/* line 115, ../sass/partials/modules/_page.scss */
.easyir-section--heading .easyir-section--heading-secondary {
  font-weight: 300;
  font-size: 36px;
  margin: 10px 0;
}
/* line 121, ../sass/partials/modules/_page.scss */
.easyir-section--heading .easyir-section--heading-tertiary {
  font-weight: 300;
  font-size: 20px;
  margin: 0;
}
/* line 127, ../sass/partials/modules/_page.scss */
.easyir-section--heading .easyir-section--sub-heading {
  font-weight: normal;
  font-size: 18px;
  line-height: 2;
}

/* line 7, ../sass/partials/modules/_page.scss */
.easyir-page-teal1 {
  background-color: #1693a5;
}

/* line 11, ../sass/partials/modules/_page.scss */
.easyir-section-teal1 {
  background-color: #1693a5;
  color: white;
}
/* line 15, ../sass/partials/modules/_page.scss */
.easyir-section-teal1 .easyir-section--heading-underline {
  border-bottom: 1px solid #c2e2f2;
}
/* line 19, ../sass/partials/modules/_page.scss */
.easyir-section-teal1 .easyir-section--sub-heading {
  color: #c2e2f2;
}

/* line 7, ../sass/partials/modules/_page.scss */
.easyir-page-teal2 {
  background-color: #45b5c4;
}

/* line 11, ../sass/partials/modules/_page.scss */
.easyir-section-teal2 {
  background-color: #45b5c4;
  color: white;
}
/* line 15, ../sass/partials/modules/_page.scss */
.easyir-section-teal2 .easyir-section--heading-underline {
  border-bottom: 1px solid #c2e2f2;
}
/* line 19, ../sass/partials/modules/_page.scss */
.easyir-section-teal2 .easyir-section--sub-heading {
  color: #c2e2f2;
}

/* line 7, ../sass/partials/modules/_page.scss */
.easyir-page-teal3 {
  background-color: #7ececa;
}

/* line 11, ../sass/partials/modules/_page.scss */
.easyir-section-teal3 {
  background-color: #7ececa;
  color: white;
}
/* line 15, ../sass/partials/modules/_page.scss */
.easyir-section-teal3 .easyir-section--heading-underline {
  border-bottom: 1px solid #c2e2f2;
}
/* line 19, ../sass/partials/modules/_page.scss */
.easyir-section-teal3 .easyir-section--sub-heading {
  color: #c2e2f2;
}

/* line 7, ../sass/partials/modules/_page.scss */
.easyir-page-teal4 {
  background-color: #a0ded6;
}

/* line 11, ../sass/partials/modules/_page.scss */
.easyir-section-teal4 {
  background-color: #a0ded6;
  color: white;
}
/* line 15, ../sass/partials/modules/_page.scss */
.easyir-section-teal4 .easyir-section--heading-underline {
  border-bottom: 1px solid #c2e2f2;
}
/* line 19, ../sass/partials/modules/_page.scss */
.easyir-section-teal4 .easyir-section--sub-heading {
  color: #c2e2f2;
}
