$ird-teal-default: #008B95;
$ird-teal-active: darken($ird-teal-default, 10%);
$ird-app-button: #F6F6F6;
$ird-app-button-active: darken($ird-app-button, 10%);
$ird-app-button-border: #979797;

// --------------------------- Teal -------------------------

$color-teal-background: #94C6BA;
$color-teal-text: #414143;
$color-teal-text-sub: #414143;

// --------------------------- Gray -------------------------

$color-gray-background: #EEE;
$color-gray-text: #414143;
$color-gray-text-sub: #414143;

// --------------------------- Pink -------------------------

$color-pink-background: #F29DAE;
$color-pink-text: #414143;
$color-pink-text-sub: #414143;

// --------------------------- Red -------------------------

$color-red-background: #C3656C;
$color-red-text: #FFF;
$color-red-text-sub: #FFF;

// --------------------------- Teal 2 -------------------------

$color-teal2-background: #45B5C4;
$color-teal2-text: #FFF;
$color-teal2-text-sub: #FFF;


// --------------------------- Teal 3 -------------------------

$color-teal3-background: #7ECECA;
$color-teal3-text: #FFF;
$color-teal3-text-sub: #FFF;


// --------------------------- Teal 4 -------------------------

$color-teal4-background: #A0DED6;
$color-teal4-text: #FFF;
$color-teal4-text-sub: #FFF;


// --------------------------- Brown 1 -------------------------

$color-brown1-background: #B0A18F;
$color-brown1-text: #FFF;
$color-brown1-text-sub: #FFF;


// --------------------------- Brown 2 -------------------------

$color-brown2-background: #DFCDB4;
$color-brown2-text: #FFF;
$color-brown2-text-sub: #FFF;


// --------------------------- Brown 3 -------------------------

$color-brown3-background: #FBEED3;
$color-brown3-text: #FFF;
$color-brown3-text-sub: #FFF;
