// --------------------------- Teal 1 -------------------------

$color-teal1-background: #1693A5;
$color-teal1-text: #FFF;
$color-teal1-text-sub: #FFF;


// --------------------------- Teal 2 -------------------------

$color-teal2-background: #45B5C4;
$color-teal2-text: #FFF;
$color-teal2-text-sub: #FFF;


// --------------------------- Teal 3 -------------------------

$color-teal3-background: #7ECECA;
$color-teal3-text: #FFF;
$color-teal3-text-sub: #FFF;


// --------------------------- Teal 4 -------------------------

$color-teal4-background: #A0DED6;
$color-teal4-text: #FFF;
$color-teal4-text-sub: #FFF;


// --------------------------- Brown 1 -------------------------

$color-brown1-background: #B0A18F;
$color-brown1-text: #FFF;
$color-brown1-text-sub: #FFF;


// --------------------------- Brown 2 -------------------------

$color-brown2-background: #DFCDB4;
$color-brown2-text: #FFF;
$color-brown2-text-sub: #FFF;


// --------------------------- Brown 3 -------------------------

$color-brown3-background: #FBEED3;
$color-brown3-text: #FFF;
$color-brown3-text-sub: #FFF;
