// --------------------------- Teal 1 -------------------------

$color-teal1-background: #1693A5;
$color-teal1-text: #FFF;
$color-teal1-text-sub: #C2E2f2;

// --------------------------- Teal 1 -------------------------

$color-teal2-background: #45B5C4 ;
$color-teal2-text: #FFF;
$color-teal2-text-sub: #C2E2f2;

// --------------------------- Teal 1 -------------------------

$color-teal3-background: #7ECECA;
$color-teal3-text: #FFF;
$color-teal3-text-sub: #C2E2f2;

// --------------------------- Teal 4 -------------------------

$color-teal4-background: #A0DED6;
$color-teal4-text: #FFF;
$color-teal4-text-sub: #C2E2f2;
