/* line 1, ../../sass/partials/secret-sauce.scss */
.easyir-ss-banner {
  background: url("../images/secret-sauce/banner.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 600px;
}
