// --------------------------- Blue -------------------------

$color-blue-background: #79B9D9;
$color-blue-text: #FFF;
$color-blue-text-sub: #C2E2f2;

$color-blue-anchor: #1882A8;
$color-blue-anchor-hover: #23698C;

$color-blue-button-text: #FFF;
$color-blue-button-background: #79B9D9;
$color-blue-button-border: #FFF;
$color-blue-button-box-shadow: rgba(255, 255, 255, 0.75);

// -------------------------- Green -------------------------

$color-green-background: #79D9B3;
$color-green-text: #FFF;
$color-green-text-sub: #FFF;

$color-green-anchor: #53B58E;
$color-green-anchor-hover: #1C8C5F;

$color-green-button-text: #FFF;
$color-green-button-background: #79D9B3;
$color-green-button-border: #FFF;
$color-green-button-box-shadow: rgba(255, 255, 255, 0.75);

// ------------------------- Purple -------------------------

$color-purple-background: #B6A0F2;
$color-purple-text: #FFF;
$color-purple-text-sub: #634BA6;

$color-purple-anchor: #53B58E;
$color-purple-anchor-hover: #1C8C5F;

$color-purple-button-text: #FFF;
$color-purple-button-background: #B6A0F2;
$color-purple-button-border: #FFF;
$color-purple-button-box-shadow: rgba(255, 255, 255, 0.75);

// -------------------------- White -------------------------

$color-white-background: #FFF;
$color-white-text: #2C3E50;
$color-white-text-sub: #999;

$color-white-anchor: #999;
$color-white-anchor-hover: darken($color-white-anchor, 10%);

$color-white-button-text: #FFF;
$color-white-button-background: #FFF;
$color-white-button-border: #FFF;
$color-white-button-box-shadow: rgba(255, 255, 255, 0.75);

// --------------------------- Gray -------------------------

$color-gray-background: #F1F0EE;
$color-gray-text: #34495E;
$color-gray-text-sub: #999;

$color-gray-anchor: #FE5000;
$color-gray-anchor-hover: darken($color-gray-anchor, 10%);

$color-gray-button-text: #34495E;
$color-gray-button-background: #F1F0EE;
$color-gray-button-border: #34495E;
$color-gray-button-box-shadow: #34495E;

// --------------------------- Dark -------------------------

$color-dark-background: #323A45;
$color-dark-text: #FFF;
$color-dark-text-sub: #FFF;

$color-dark-anchor: #FFF;
$color-dark-anchor-hover: darken($color-dark-anchor, 30%);

$color-dark-button-text: #323A45;
$color-dark-button-background: #323A45;
$color-dark-button-border: #FFF;
$color-dark-button-box-shadow: rgba(255, 255, 255, 0.75);
