// ----------------------------------------------------------
// ======================== Compass =========================
// ----------------------------------------------------------

@import "compass";


// ----------------------------------------------------------
// ======================== Globals =========================
// ----------------------------------------------------------

// ----------------------- Variables ------------------------

@import "global/variables/colours";
@import "global/variables/modules/page";

// ------------------------ Surgical ------------------------

@import "global/surgical";

// ----------------------------------------------------------
// ======================== Partials ========================
// ----------------------------------------------------------

@import "partials/base";

// ------------------------ Modules -------------------------

@import "partials/modules/page";

.easyir-expandable {
    max-height: 900px;
    overflow: hidden;
    @include transition-property(all);
    @include transition-duration(0.6s);
    @include transition-timing-function(ease-in-out);
}

.easyir-hidden {
    max-height: 0;
}

