$ird-screen-width: 223px;
$ird-screen-height: 405px;

.easyir-btn {
    background-color: $color-red-background;
    color: $color-red-text;
    text-transform: uppercase;
    @include border-radius(5px);
    @include transition-property(all);
    @include transition-duration(0.3s);
    @include transition-timing-function(ease-in-out);

    &:hover {
        background-color: darken($color-red-background, 15%);
    }
}

.easy-btn-fred {
    position: absolute;
    top: 300px;
    padding: 3px 17px;
    right: 200px;
}

.easyir-section--animation-view {
    width: 275px;
    position: relative;
    vertical-align: middle;
}

.easyir--section--animation-start {
    position: relative;
    width: 685px;

    .easyir-section--content-animation-start-content {
        position: relative;
        width: 100%;
        height: 100%;

        .easyir-section--heading {
            width: 500px;
            margin-top: 80px;
        }
    }
}

.easyir-ani-swipe-gesture {
    top: 0;
    left: 0;
    position: absolute;
    display: inline-block;
    background-color: gray;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    opacity: 0;
    @include transition-property(opacity);
    @include transition-duration(0.4s);
    @include transition-timing-function(ease-in-out);
}

.easyir-ani-iphone {
    position: relative;
    background: url("../images/00-iphone5s/iphone5s.png");
    width: 100%;
    height: 600px;
    background-size: 287px 600px;
}

.easyir-ani-overlay {
    position: absolute;
    left: 25px;
    top: 93px;
    height: $ird-screen-height;
    width: $ird-screen-width;
    overflow: hidden;
}

%easyir-ani-default {
    position: absolute;
    left: 0;
    width: $ird-screen-width;
}

%easyir-ani-placeholder-text {
    color: #D4D4D4;
    font-size: 12px;
}

%easyir-ani-full-screen {
    @extend %easyir-ani-default;
    top: 0;
    height: $ird-screen-height;
}

.easyir-ani-header {
    @extend %easyir-ani-default;
    background: url("../images/00-iphone5s/fixed-top-header.png");
    background-size: auto 100%;
    top: -1px;
    height: 15px;
}

.easyir-ani-open {
    @extend %easyir-ani-full-screen;
    background: url("../images/01-open-page/open-page.png");
    background-size: auto 100%;
}

%easyir-ani-menu-bar {
    @extend %easyir-ani-default;
    top: 11px;
    height: 31px;
}

// =========================== Registration Page ===========================

.easyir-ani-registration {
    @extend %easyir-ani-full-screen;
    background: url("../images/02-registration/bg.png");
    background-size: auto 100%;

    .easyir-ani-menu-bar {
        @extend %easyir-ani-menu-bar;
        background: url("../images/02-registration/menu-bar-top.png");
        background-size: auto 100%;
    }

    .easyir-ani-apply-button {
        @extend %easyir-ani-default;
        bottom: 0;
        height: 38px;
        background-color: $ird-teal-default;
        color: white;
        font-size: 12px;
        @extend %easyir-centered-content;
        @extend %easyir-middle-content;
    }

    .easyir-ani-registration-irdnumber {
        @extend %easyir-ani-placeholder-text;
        position: absolute;
        top: 128px;
        left: 10px;
    }

    .easyir-ani-registration-password {
        @extend %easyir-ani-placeholder-text;
        position: absolute;
        top: 158px;
        left: 10px;
    }
}

// =========================== App ===========================

.easyir-ani-app {
    position: relative;
    height: 100%;
    width: 100%;
    right: -$ird-screen-width;
}

.easyir-ani-options-table {
    display: table;
    width: 100%;
}

.easyir-ani-options-cell {
    display: table-cell;
    height: 100%;
    vertical-align: middle;
}

.easyir-ani-options-bar {
    @extend %easyir-ani-default;
    height: 159px;
    bottom: 0;
    background-color: $ird-app-button;
    border-top: 1px solid $ird-app-button-border;

    .easyir-ani-options-yes {
        color: $ird-teal-default;
        font-size: 20px;
        width: 50%;
        text-align: center;
    }

    .easyir-ani-options-no {
        color: red;
        font-size: 20px;
        width: 50%;
        text-align: center;
        border-left: 1px solid $ird-app-button-border;
    }
}

// =========================== Pre 1 ===========================

.easyir-ani-pre-1 {
    @extend %easyir-ani-full-screen;
    background: url("../images/03-pre-1/bg.png");
    background-size: 100% auto;
    height: 1025px;
}

.easyir-ani-menu-bar {
    @extend %easyir-ani-menu-bar;
    background: url("../images/03-pre-1/menu-bar-top.png");
    background-size: 100% auto;
}

.easyir-ani {
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center;
}
