@-webkit-keyframes openApp {
  0%   { opacity: 1; }
  100% { opacity: 0; }
}
@-moz-keyframes openApp {
  0%   { opacity: 1; }
  100% { opacity: 0; }
}
@-o-keyframes openApp {
  0%   { opacity: 1; }
  100% { opacity: 0; }
}
@keyframes openApp {
  0%   { opacity: 1; }
  100% { opacity: 0; }
}

.easyir-ani-open-app {
    -webkit-animation: openApp 0.5s ease;
    -moz-animation:    openApp 0.5s ease;
    -o-animation:      openApp 0.5s ease;
    animation:         openApp 0.5s ease;

    opacity: 0;
}
