.easyir-main,
.easyir-story,
.easyir-slide {
    height: 100%;
    position: relative;
    min-width: 960px;
    @include transition-property(all);
    @include transition-duration(1s);
    @include transition-timing-function(ease-in-out);
}

.easyir-main {
    overflow-y: hidden;
}

.easyir-story {
    white-space: nowrap;
    overflow: hidden;
}

.easyir-slide {
    display: inline-block;
    width: 100%;
}

.easyir-slide-btn {
    position: absolute;
    top: 50%;
}

// =========================== Slide Buttons ===========================

.easyir-slide-btn-prev {
    left: -50px;
    opacity: 0;
    @include transition-property(all);
    @include transition-duration(0.5s);
    @include transition-timing-function(ease-in-out);
}

.easyir-slide-btn-prev-visible {
    left: 210px;
    opacity: 1;
    @include transition-delay(0.8s);
}

.easyir-slide-btn-next {
    right: 10px;
    opacity: 1;
    @include transition-property(all);
    @include transition-duration(0.5s);
    @include transition-timing-function(ease-in-out);
}

.easyir-slide-btn-next-hidden {
    right: -50px;
    opacity: 0;
}

// =========================== Story Header ===========================

.easyir-header-visible {
    @include transition-delay(1s);
    top: 0;
}

.easyir-story-nav-bar {
    display: inline-block;
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    padding-right: 20px;

    &:before {
        content: '';
        display: inline-block;
        height: 100%;
        vertical-align: middle;
    }

    .easyir-story-nav {
        text-decoration: none;
        font-size: 14px;
        margin: 0 10px;
        vertical-align: middle;
    }
}

.easyir-story-side-bar {
    height: 100%;
    width: 200px;
    position: absolute;
    background-color: $color-teal-background;
    top: 0;
    left: -200px;
    @include transition-property(all);
    @include transition-duration(0.5s);
    @include transition-timing-function(ease-in-out);
    @extend %easyir-middle-content;
    display: table;

    .easyir-story-side-bar-title {
        display: table-cell;
    }
}

.easyir-story-side-bar-visible {
    left: 0px;
    @include transition-delay(0.8s);
}

