@mixin easyir-section(
    $name,
    $background-color,
    $text-color,
    $text-color-sub
) {
    .easyir-page-#{$name} {
        background-color: #{$background-color};
    }

    .easyir-section-#{$name} {
        background-color: #{$background-color};
        color: #{$text-color};

        .easyir-section--heading-underline {
            border-bottom: 1px solid #{$text-color-sub};
        }

        .easyir-section--sub-heading {
            color: #{$text-color-sub};
        }
    }
}

// --------------------------- Base -------------------------

.easyir-section {
    // line-height: 0 to ensure the sections are hard up against each other.
    line-height: 0;
    padding: $section-padding;
    @include box-sizing(border-box);
}

.easyir-section--content {
    line-height: 2;
    @extend %easyir-centered-content;
}

.easyir-section--content-footer {
    padding: $section-footer-padding;
    // line-height: normal so there is no empty space below the footer.
    line-height: normal;
}

.easyir-section--content-header {
    position: relative;
    height: 100%;
    max-width: 1000px;
    margin: auto;
}

.easyir-section--heading {
    margin: 0;
    padding: 0;
    line-height: normal;

    .easyir-section--heading-primary {
        font-weight: $section-heading-font-weight;
        font-size: $section-heading-primary-font-size;
        margin: $section-heading-margin;
    }

    .easyir-section--heading-secondary {
        font-weight: $section-heading-font-weight;
        font-size: $section-heading-secondary-font-size;
        margin: $section-heading-margin;
    }

    .easyir-section--heading-tertiary {
        font-weight: $section-heading-font-weight;
        font-size: $section-heading-tertiary-font-size;
        margin: 0;
    }

    .easyir-section--sub-heading {
        font-weight: $section-sub-heading-font-weight;
        font-size: $section-sub-heading-font-size;
        line-height: 2;
    }
}
