@mixin easyir-section(
    $name,
    $background-color,
    $text-color,
    $text-color-sub
) {
    .easyir-page-#{$name} {
        background-color: #{$background-color};
    }

    .easyir-section-#{$name} {
        background-color: #{$background-color};
        color: #{$text-color};

        .easyir-section--heading-underline {
            border-bottom: 1px solid #{$text-color-sub};
        }

        .easyir-section--sub-heading {
            color: #{$text-color-sub};
        }
    }
}

// --------------------------- Base -------------------------

.easyir-section {
    // line-height: 0 to ensure the sections are hard up against each other.
    line-height: 0;
    padding: $section-padding;
}

.easyir-section--content {
    line-height: 2;
    @extend %easyir-centered-content;
}

.easyir-section--content-footer {
    padding: $section-footer-padding;
    // line-height: normal so there is no empty space below the footer.
    line-height: normal;
}

.easyir-section--content-header {
    position: relative;
    height: 100%;
    max-width: 1000px;
    margin: auto;
}

.easyir-section--heading {
    margin: 0;
    padding: 0;
    line-height: normal;

    .easyir-section--heading-primary {
        font-weight: $section-heading-font-weight;
        font-size: $section-heading-primary-font-size;
        margin: $section-heading-margin;
    }

    .easyir-section--heading-secondary {
        font-weight: $section-heading-font-weight;
        font-size: $section-heading-secondary-font-size;
        margin: $section-heading-margin;
    }

    .easyir-section--heading-tertiary {
        font-weight: $section-heading-font-weight;
        font-size: $section-heading-tertiary-font-size;
        margin: 0;
    }

    .easyir-section--sub-heading {
        font-weight: $section-sub-heading-font-weight;
        font-size: $section-sub-heading-font-size;
        line-height: 2;
    }
}

// -------------------------- Teal 1 --------------------------

@include easyir-section(
    $name: teal1,
    $background-color: $color-teal1-background,
    $text-color: $color-teal1-text,
    $text-color-sub: $color-teal1-text-sub
);

// -------------------------- Teal 2 --------------------------

@include easyir-section(
    $name: teal2,
    $background-color: $color-teal2-background,
    $text-color: $color-teal2-text,
    $text-color-sub: $color-teal2-text-sub
);

// -------------------------- Teal 3 --------------------------

@include easyir-section(
    $name: teal3,
    $background-color: $color-teal3-background,
    $text-color: $color-teal3-text,
    $text-color-sub: $color-teal3-text-sub
);

// -------------------------- Teal 4 --------------------------

@include easyir-section(
    $name: teal4,
    $background-color: $color-teal4-background,
    $text-color: $color-teal4-text,
    $text-color-sub: $color-teal4-text-sub
);

// -------------------------- Brown 1 --------------------------

@include easyir-section(
    $name: brown1,
    $background-color: $color-brown1-background,
    $text-color: $color-brown1-text,
    $text-color-sub: $color-brown1-text-sub
);

// -------------------------- Brown 2 --------------------------

@include easyir-section(
    $name: brown2,
    $background-color: $color-brown2-background,
    $text-color: $color-brown2-text,
    $text-color-sub: $color-brown2-text-sub
);

// -------------------------- Brown 3 --------------------------

@include easyir-section(
    $name: brown3,
    $background-color: $color-brown3-background,
    $text-color: $color-brown3-text,
    $text-color-sub: $color-brown3-text-sub
);
