.easyir-header-ss {
    position: relative;
    height: 70px;
    width: 100%;
    background-color: white;
    min-width: 960px;

    .easyir-logo {
        display: inline-block;
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        text-decoration: none;
        text-align: center;
        margin-left: 20px;
        vertical-align: middle;

        &:before {
            content: '';
            display: inline-block;
            height: 100%;
            vertical-align: middle;
        }
    }
}

.easyir-ss-banner {
    background: url("../images/secret-sauce/banner.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    height: 600px;
}

.easyir-ss-heading {
    text-transform: uppercase;
}

.easyir-ss-content {
    top: initial;
    margin-top: 0;
    font-family: 'proxima_nova_light';
    line-height: 1.5;
}

.easyir-section--image {
    width: 100%;
}

.easyir-section--table {
    display: table;
    table-layout: fixed;
}

.easyir-section--table-cell {
    display: table-cell;
    vertical-align: middle;
    width: 50%;
}

.easyir-section--table-cell-img {
    padding: 0 20px;
}

.easyir-ss-title-image {
    width: 100px;
    height: auto;
}

.easyir-ss-subheading {
    margin: 0;
    font-size: 20px !important;
    line-height: 1 !important;
}

.easyir-ss-section {
    overflow-x: hidden;
    padding-bottom: 95px;
}

// ANIMATION

.easyir-ss-iphone {
    height: 400px;
    background-size: auto 400px;
}

.easyir-ss-iphone-flow {
    left: 120px;
}

.easyir-ss-overlay {
    position: absolute;
    left: 139px;
    top: 62px;
    height: 269px;
    width: 152px;
    font-family: 'helvetica' !important;
}

.easyir-ss-overlay-visible {
    overflow: visible;
}

%easyir-ss-full-screen {
    position: absolute;
    left: 0;
    width: 152px;
    top: 0;
    height: 270px;
}

.easyir-ss-ani-1 {
    @extend %easyir-ss-full-screen;
    background: url("../images/secret-sauce/IR595-1.png");
    background-size: 100% auto;
}

.easyir-ss-ani-2 {
    @extend %easyir-ss-full-screen;
    background: url("../images/secret-sauce/IR595-2.png");
    background-size: 100% auto;
}

.easyir-ss-ani-3 {
    @extend %easyir-ss-full-screen;
    background: url("../images/secret-sauce/IR595-3.png");
    background-size: 100% auto;
}

.easyir-ss-ani-4 {
    @extend %easyir-ss-full-screen;
    background: url("../images/secret-sauce/IR595-4.png");
    background-size: 100% auto;
}

.easyir-ss-ani-5 {
    @extend %easyir-ss-full-screen;
    background: url("../images/secret-sauce/IR595-5.png");
    background-size: 100% auto;
}

.easyir-ss-ani-6 {
    @extend %easyir-ss-full-screen;
    // background: url("../images/secret-sauce/IR595-3.png");
    background-size: 100% auto;
}

.easyir-ss-ani-header {
    position: absolute;
    left: 0;
    width: 152px;
    background: url("../images/generic-app/00-iphone5s/fixed-top-header.png");
    background-size: auto 100%;
    top: -1px;
    height: 13px;
}

// =========================== Linear Flow ===========================

@-webkit-keyframes linearFlow1 {
    0%   { opacity: 1; left: 0; }
    20% { opacity: 0.6; left: -160px; }
    40% { opacity: 0; left: -320px; }
    60% { opacity: 0; left: 320px; }
    80% { opacity: 0.6; left: 160px; }
    100% { opacity: 1; left: 0; }
}
@-moz-keyframes linearFlow1 {
    0%   { opacity: 1; left: 0; }
    20% { opacity: 0.6; left: -160px; }
    40% { opacity: 0; left: -320px; }
    60% { opacity: 0; left: 320px; }
    80% { opacity: 0.6; left: 160px; }
    100% { opacity: 1; left: 0; }
}
@-o-keyframes linearFlow1 {
    0%   { opacity: 1; left: 0; }
    20% { opacity: 0.6; left: -160px; }
    40% { opacity: 0; left: -320px; }
    60% { opacity: 0; left: 320px; }
    80% { opacity: 0.6; left: 160px; }
    100% { opacity: 1; left: 0; }
}
@keyframes linearFlow1 {
    0%   { opacity: 1; left: 0; }
    20% { opacity: 0.6; left: -160px; }
    40% { opacity: 0; left: -320px; }
    60% { opacity: 0; left: 320px; }
    80% { opacity: 0.6; left: 160px; }
    100% { opacity: 1; left: 0; }
}

.easyir-ss-ani-flow1 {
    -webkit-animation: linearFlow1 8s 8s infinite;
    -moz-animation:    linearFlow1 8s 8s infinite;
    -o-animation:      linearFlow1 8s 8s infinite;
    animation:         linearFlow1 8s 8s infinite;
}

@-webkit-keyframes linearFlow2 {
    0%   { opacity: 0.6; left: -160px; }
    20%  { opacity: 0; left: -320px; }
    40%  { opacity: 0; left: 320px; }
    60%  { opacity: 0.6; left: 160px; }
    80%  { opacity: 1; left: 0; }
    100% { opacity: 0.6; left: -160px; }
}
@-moz-keyframes linearFlow2 {
    0%   { opacity: 0.6; left: -160px; }
    20%  { opacity: 0; left: -320px; }
    40%  { opacity: 0; left: 320px; }
    60%  { opacity: 0.6; left: 160px; }
    80%  { opacity: 1; left: 0; }
    100% { opacity: 0.6; left: -160px; }
}
@-o-keyframes linearFlow2 {
    0%   { opacity: 0.6; left: -160px; }
    20%  { opacity: 0; left: -320px; }
    40%  { opacity: 0; left: 320px; }
    60%  { opacity: 0.6; left: 160px; }
    80%  { opacity: 1; left: 0; }
    100% { opacity: 0.6; left: -160px; }
}
@keyframes linearFlow2 {
    0%   { opacity: 0.6; left: -160px; }
    20%  { opacity: 0; left: -320px; }
    40%  { opacity: 0; left: 320px; }
    60%  { opacity: 0.6; left: 160px; }
    80%  { opacity: 1; left: 0; }
    100% { opacity: 0.6; left: -160px; }
}

.easyir-ss-ani-flow2 {
    -webkit-animation: linearFlow2 8s 8s infinite;
    -moz-animation:    linearFlow2 8s 8s infinite;
    -o-animation:      linearFlow2 8s 8s infinite;
    animation:         linearFlow2 8s 8s infinite;
}

@-webkit-keyframes linearFlow3 {
    0%   { opacity: 0; left: -320px; }
    20%  { opacity: 0; left: 320px; }
    40%  { opacity: 0.6; left: 160px; }
    60%  { opacity: 1; left: 0; }
    80%  { opacity: 0.6; left: -160px; }
    100% { opacity: 0; left: -320px; }
}
@-moz-keyframes linearFlow3 {
    0%   { opacity: 0; left: -320px; }
    20%  { opacity: 0; left: 320px; }
    40%  { opacity: 0.6; left: 160px; }
    60%  { opacity: 1; left: 0; }
    80%  { opacity: 0.6; left: -160px; }
    100% { opacity: 0; left: -320px; }
}
@-o-keyframes linearFlow3 {
    0%   { opacity: 0; left: -320px; }
    20%  { opacity: 0; left: 320px; }
    40%  { opacity: 0.6; left: 160px; }
    60%  { opacity: 1; left: 0; }
    80%  { opacity: 0.6; left: -160px; }
    100% { opacity: 0; left: -320px; }
}
@keyframes linearFlow3 {
    0%   { opacity: 0; left: -320px; }
    20%  { opacity: 0; left: 320px; }
    40%  { opacity: 0.6; left: 160px; }
    60%  { opacity: 1; left: 0; }
    80%  { opacity: 0.6; left: -160px; }
    100% { opacity: 0; left: -320px; }
}

.easyir-ss-ani-flow3 {
    -webkit-animation: linearFlow3 8s 8s infinite;
    -moz-animation:    linearFlow3 8s 8s infinite;
    -o-animation:      linearFlow3 8s 8s infinite;
    animation:         linearFlow3 8s 8s infinite;
}

@-webkit-keyframes linearFlow4 {
    0%   { opacity: 0; left: 320px; }
    20%  { opacity: 0.6; left: 160px; }
    40%  { opacity: 1; left: 0; }
    60%  { opacity: 0.6; left: -160px; }
    80%  { opacity: 0; left: -320px; }
    100% { opacity: 0; left: 320px; }
}
@-moz-keyframes linearFlow4 {
    0%   { opacity: 0; left: 320px; }
    20%  { opacity: 0.6; left: 160px; }
    40%  { opacity: 1; left: 0; }
    60%  { opacity: 0.6; left: -160px; }
    80%  { opacity: 0; left: -320px; }
    100% { opacity: 0; left: 320px; }
}
@-o-keyframes linearFlow4 {
    0%   { opacity: 0; left: 320px; }
    20%  { opacity: 0.6; left: 160px; }
    40%  { opacity: 1; left: 0; }
    60%  { opacity: 0.6; left: -160px; }
    80%  { opacity: 0; left: -320px; }
    100% { opacity: 0; left: 320px; }
}
@keyframes linearFlow4 {
    0%   { opacity: 0; left: 320px; }
    20%  { opacity: 0.6; left: 160px; }
    40%  { opacity: 1; left: 0; }
    60%  { opacity: 0.6; left: -160px; }
    80%  { opacity: 0; left: -320px; }
    100% { opacity: 0; left: 320px; }
}

.easyir-ss-ani-flow4 {
    -webkit-animation: linearFlow4 8s 8s infinite;
    -moz-animation:    linearFlow4 8s 8s infinite;
    -o-animation:      linearFlow4 8s 8s infinite;
    animation:         linearFlow4 8s 8s infinite;
}

@-webkit-keyframes linearFlow5 {
    0%   { opacity: 0.6; left: 160px; }
    20%  { opacity: 1; left: 0; }
    40%  { opacity: 0.6; left: -160px; }
    60%  { opacity: 0; left: -320px; }
    80%  { opacity: 0; left: 320px; }
    100% { opacity: 0.6; left: 160px; }
}
@-moz-keyframes linearFlow5 {
    0%   { opacity: 0.6; left: 160px; }
    20%  { opacity: 1; left: 0; }
    40%  { opacity: 0.6; left: -160px; }
    60%  { opacity: 0; left: -320px; }
    80%  { opacity: 0; left: 320px; }
    100% { opacity: 0.6; left: 160px; }
}
@-o-keyframes linearFlow5 {
    0%   { opacity: 0.6; left: 160px; }
    20%  { opacity: 1; left: 0; }
    40%  { opacity: 0.6; left: -160px; }
    60%  { opacity: 0; left: -320px; }
    80%  { opacity: 0; left: 320px; }
    100% { opacity: 0.6; left: 160px; }
}
@keyframes linearFlow5 {
    0%   { opacity: 0.6; left: 160px; }
    20%  { opacity: 1; left: 0; }
    40%  { opacity: 0.6; left: -160px; }
    60%  { opacity: 0; left: -320px; }
    80%  { opacity: 0; left: 320px; }
    100% { opacity: 0.6; left: 160px; }
}

.easyir-ss-ani-flow5 {
    -webkit-animation: linearFlow5 8s 8s infinite;
    -moz-animation:    linearFlow5 8s 8s infinite;
    -o-animation:      linearFlow5 8s 8s infinite;
    animation:         linearFlow5 8s 8s infinite;
}
