.easyir-header-ss {
    position: relative;
    height: 70px;
    width: 100%;
    background-color: white;
    min-width: 960px;

    .easyir-logo {
        display: inline-block;
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        text-decoration: none;
        text-align: center;
        margin-left: 20px;
        vertical-align: middle;

        &:before {
            content: '';
            display: inline-block;
            height: 100%;
            vertical-align: middle;
        }
    }
}

.easyir-ss-banner {
    background: url("../images/secret-sauce/banner.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    height: 600px;
}

.easyir-ss-heading {
    text-transform: uppercase;
}

.easyir-ss-content {
    top: initial;
    margin-top: 0;
    font-family: 'proxima_nova_light';
    line-height: 1.5;
}

.easyir-section--image {
    width: 100%;
}

.easyir-section--table {
    display: table;
    table-layout: fixed;
}

.easyir-section--table-cell {
    display: table-cell;
    vertical-align: middle;
    width: 50%;
}

.easyir-section--table-cell-img {
    padding: 0 20px;
}

.easyir-ss-title-image {
    width: 100px;
    height: auto;
}

.easyir-ss-subheading {
    margin: 0;
    font-size: 20px !important;
    line-height: 1 !important;
}

.easyir-ss-hr {
    background-color: $color-gray-background;
    margin: 0 20px;
}

// ANIMATION

.easyir-ss-iphone {
    height: 500px;
    background-size: auto 500px;
}

.easyir-ss-overlay {
    position: absolute;
    left: 120px;
    top: 78px;
    height: 337px;
    width: 189px;
    overflow: hidden;
    font-family: 'helvetica' !important;
}

%easyir-ss-full-screen {
    position: absolute;
    left: 0;
    width: 190px;
    top: 0;
    height: 405px;
}

.easyir-ss-ani-1 {
    @extend %easyir-ss-full-screen;
    background: url("../images/secret-sauce/IR595-1.png");
    background-size: 100% auto;
}

.easyir-ss-ani-2 {
    @extend %easyir-ss-full-screen;
    background: url("../images/secret-sauce/IR595-2.png");
    background-size: 100% auto;
}

.easyir-ss-ani-3 {
    @extend %easyir-ss-full-screen;
    background: url("../images/secret-sauce/IR595-3.png");
    background-size: 100% auto;
}

.easyir-ss-ani-4 {
    @extend %easyir-ss-full-screen;
    background: url("../images/secret-sauce/IR595-4.png");
    background-size: 100% auto;
}

.easyir-ss-ani-5 {
    @extend %easyir-ss-full-screen;
    background: url("../images/secret-sauce/IR595-5.png");
    background-size: 100% auto;
}
