.easyir-main,
.easyir-story,
.easyir-slide {
    height: 100%;
    position: relative;
    @include transition-property(all);
    @include transition-duration(1s);
    @include transition-timing-function(ease-in-out);
}

.easyir-main {
    overflow-y: hidden;
}

.easyir-story {
    white-space: nowrap;
    overflow-x: hidden;
}

.easyir-slide {
    display: inline-block;
    width: 100%;
}

.easyir-slide-btn {
    position: absolute;
    top: 50%;
}

.easyir-slide-btn-prev {
    left: 10px;
}

.easyir-slide-btn-next {
    right: 10px;
}


.easyir-header-hidden {
    top: -70px;
}
