/* line 13, ../sass/global/_surgical.scss */
.easyir-mtn {
  margin-top: 0;
}

/* line 13, ../sass/global/_surgical.scss */
.easyir-mts {
  margin-top: 5px;
}

/* line 13, ../sass/global/_surgical.scss */
.easyir-mtm {
  margin-top: 10px;
}

/* line 13, ../sass/global/_surgical.scss */
.easyir-mtl {
  margin-top: 20px;
}

/* line 13, ../sass/global/_surgical.scss */
.easyir-mbn {
  margin-bottom: 0;
}

/* line 13, ../sass/global/_surgical.scss */
.easyir-mbs {
  margin-bottom: 5px;
}

/* line 13, ../sass/global/_surgical.scss */
.easyir-mbm {
  margin-bottom: 10px;
}

/* line 13, ../sass/global/_surgical.scss */
.easyir-mbl {
  margin-bottom: 20px;
}

/* line 13, ../sass/global/_surgical.scss */
.easyir-mln {
  margin-left: 0;
}

/* line 13, ../sass/global/_surgical.scss */
.easyir-mls {
  margin-left: 5px;
}

/* line 13, ../sass/global/_surgical.scss */
.easyir-mlm {
  margin-left: 10px;
}

/* line 13, ../sass/global/_surgical.scss */
.easyir-mll {
  margin-left: 20px;
}

/* line 13, ../sass/global/_surgical.scss */
.easyir-mrn {
  margin-right: 0;
}

/* line 13, ../sass/global/_surgical.scss */
.easyir-mrs {
  margin-right: 5px;
}

/* line 13, ../sass/global/_surgical.scss */
.easyir-mrm {
  margin-right: 10px;
}

/* line 13, ../sass/global/_surgical.scss */
.easyir-mrl {
  margin-right: 20px;
}

/* line 9, ../sass/global/_surgical.scss */
.easyir-man {
  margin: 0;
}

/* line 9, ../sass/global/_surgical.scss */
.easyir-mas {
  margin: 5px;
}

/* line 9, ../sass/global/_surgical.scss */
.easyir-mam {
  margin: 10px;
}

/* line 9, ../sass/global/_surgical.scss */
.easyir-mal {
  margin: 20px;
}

/* line 13, ../sass/global/_surgical.scss */
.easyir-ptn {
  padding-top: 0;
}

/* line 13, ../sass/global/_surgical.scss */
.easyir-pts {
  padding-top: 5px;
}

/* line 13, ../sass/global/_surgical.scss */
.easyir-ptm {
  padding-top: 10px;
}

/* line 13, ../sass/global/_surgical.scss */
.easyir-ptl {
  padding-top: 20px;
}

/* line 13, ../sass/global/_surgical.scss */
.easyir-pbn {
  padding-bottom: 0;
}

/* line 13, ../sass/global/_surgical.scss */
.easyir-pbs {
  padding-bottom: 5px;
}

/* line 13, ../sass/global/_surgical.scss */
.easyir-pbm {
  padding-bottom: 10px;
}

/* line 13, ../sass/global/_surgical.scss */
.easyir-pbl {
  padding-bottom: 20px;
}

/* line 13, ../sass/global/_surgical.scss */
.easyir-pln {
  padding-left: 0;
}

/* line 13, ../sass/global/_surgical.scss */
.easyir-pls {
  padding-left: 5px;
}

/* line 13, ../sass/global/_surgical.scss */
.easyir-plm {
  padding-left: 10px;
}

/* line 13, ../sass/global/_surgical.scss */
.easyir-pll {
  padding-left: 20px;
}

/* line 13, ../sass/global/_surgical.scss */
.easyir-prn {
  padding-right: 0;
}

/* line 13, ../sass/global/_surgical.scss */
.easyir-prs {
  padding-right: 5px;
}

/* line 13, ../sass/global/_surgical.scss */
.easyir-prm {
  padding-right: 10px;
}

/* line 13, ../sass/global/_surgical.scss */
.easyir-prl {
  padding-right: 20px;
}

/* line 9, ../sass/global/_surgical.scss */
.easyir-pan {
  padding: 0;
}

/* line 9, ../sass/global/_surgical.scss */
.easyir-pas {
  padding: 5px;
}

/* line 9, ../sass/global/_surgical.scss */
.easyir-pam {
  padding: 10px;
}

/* line 9, ../sass/global/_surgical.scss */
.easyir-pal {
  padding: 20px;
}

/* line 21, ../sass/global/_surgical.scss */
.easyir-center {
  text-align: center;
}

/* line 25, ../sass/global/_surgical.scss */
.easyir-section--content {
  max-width: 800px;
  margin: 0 auto;
}

/* line 3, ../sass/partials/_base.scss */
html,
body,
.ember-view {
  height: 100%;
  font-family: 'Ubuntu', 'Raleway', sans-serif;
}

/* line 70, ../sass/partials/modules/_page.scss */
.easyir-page {
  min-height: 100%;
}

/* line 74, ../sass/partials/modules/_page.scss */
.easyir-page--header {
  margin-top: -60px;
}
/* line 77, ../sass/partials/modules/_page.scss */
.easyir-page--header:before {
  content: '';
  display: block;
  height: 60px;
}

/* line 84, ../sass/partials/modules/_page.scss */
.easyir-page--footer {
  margin-bottom: -92px;
}
/* line 87, ../sass/partials/modules/_page.scss */
.easyir-page--footer:after {
  content: '';
  display: block;
  height: 92px;
}

/* line 94, ../sass/partials/modules/_page.scss */
.easyir-section {
  line-height: 0;
  padding: 100px 25px;
}

/* line 100, ../sass/partials/modules/_page.scss */
.easyir-section-header {
  position: relative;
  height: 70px;
  padding: 0;
}

/* line 105, ../sass/partials/modules/_page.scss */
.easyir-section-footer {
  height: 92px;
  padding: 0;
}

/* line 110, ../sass/partials/modules/_page.scss */
.easyir-section--image {
  width: 100%;
}

/* line 114, ../sass/partials/modules/_page.scss */
.easyir-section--content {
  line-height: 2;
}

/* line 119, ../sass/partials/modules/_page.scss */
.easyir-section--table {
  display: table;
  table-layout: fixed;
}

/* line 124, ../sass/partials/modules/_page.scss */
.easyir-section--table-cell {
  display: table-cell;
  vertical-align: middle;
  width: 50%;
}

/* line 130, ../sass/partials/modules/_page.scss */
.easyir-section--table-cell-img {
  padding: 0 20px;
}

/* line 134, ../sass/partials/modules/_page.scss */
.easyir-section--content-footer {
  padding: 30px 25px;
  line-height: normal;
}

/* line 140, ../sass/partials/modules/_page.scss */
.easyir-section--content-header {
  position: relative;
  height: 100%;
  max-width: 1000px;
  margin: auto;
}

/* line 147, ../sass/partials/modules/_page.scss */
.easyir-section--heading {
  margin: 0;
  padding: 0;
  line-height: normal;
}
/* line 152, ../sass/partials/modules/_page.scss */
.easyir-section--heading .easyir-section--heading-primary {
  font-weight: 300;
  font-size: 48px;
  margin: 10px 0;
}
/* line 158, ../sass/partials/modules/_page.scss */
.easyir-section--heading .easyir-section--heading-secondary {
  font-weight: 300;
  font-size: 36px;
  margin: 10px 0;
}
/* line 164, ../sass/partials/modules/_page.scss */
.easyir-section--heading .easyir-section--heading-tertiary {
  font-weight: 300;
  font-size: 20px;
  margin: 0;
}
/* line 170, ../sass/partials/modules/_page.scss */
.easyir-section--heading .easyir-section--sub-heading {
  font-weight: normal;
  font-size: 18px;
  line-height: 2;
}

/* line 9, ../sass/partials/modules/_page.scss */
.easyir-page-blue {
  background-color: #79b9d9;
}

/* line 13, ../sass/partials/modules/_page.scss */
.easyir-section-blue {
  background-color: #79b9d9;
  color: white;
}
/* line 17, ../sass/partials/modules/_page.scss */
.easyir-section-blue .easyir-section--heading-underline {
  border-bottom: 1px solid #c2e2f2;
}
/* line 21, ../sass/partials/modules/_page.scss */
.easyir-section-blue .easyir-section--sub-heading {
  color: #c2e2f2;
}
/* line 25, ../sass/partials/modules/_page.scss */
.easyir-section-blue .easyir-section--anchor {
  text-decoration: none;
  color: #1882a8;
  -webkit-transition-property: color;
  -moz-transition-property: color;
  -o-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-in-out;
  -moz-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
}
/* line 29, ../sass/partials/modules/_page.scss */
.easyir-section-blue .easyir-section--anchor:hover {
  color: #23698c;
}
/* line 32, ../sass/partials/modules/_page.scss */
.easyir-section-blue .easyir-section--anchor:hover span:after {
  width: 100%;
  background-color: #23698c;
}
/* line 38, ../sass/partials/modules/_page.scss */
.easyir-section-blue .easyir-section--anchor span {
  display: inline-block;
  position: relative;
}
/* line 42, ../sass/partials/modules/_page.scss */
.easyir-section-blue .easyir-section--anchor span:after {
  height: 2px;
  content: '';
  position: absolute;
  bottom: 5px;
  left: 0;
  width: 0%;
  background-color: #1882a8;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  transition-duration: 0.4s;
  -webkit-transition-timing-function: ease-in-out;
  -moz-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
}
/* line 62, ../sass/partials/modules/_page.scss */
.easyir-section-blue .easyir-section--icon {
  font-size: 30px;
}

/* line 9, ../sass/partials/modules/_page.scss */
.easyir-page-green {
  background-color: #79d9b3;
}

/* line 13, ../sass/partials/modules/_page.scss */
.easyir-section-green {
  background-color: #79d9b3;
  color: white;
}
/* line 17, ../sass/partials/modules/_page.scss */
.easyir-section-green .easyir-section--heading-underline {
  border-bottom: 1px solid white;
}
/* line 21, ../sass/partials/modules/_page.scss */
.easyir-section-green .easyir-section--sub-heading {
  color: white;
}
/* line 25, ../sass/partials/modules/_page.scss */
.easyir-section-green .easyir-section--anchor {
  text-decoration: none;
  color: #53b58e;
  -webkit-transition-property: color;
  -moz-transition-property: color;
  -o-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-in-out;
  -moz-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
}
/* line 29, ../sass/partials/modules/_page.scss */
.easyir-section-green .easyir-section--anchor:hover {
  color: #1c8c5f;
}
/* line 32, ../sass/partials/modules/_page.scss */
.easyir-section-green .easyir-section--anchor:hover span:after {
  width: 100%;
  background-color: #1c8c5f;
}
/* line 38, ../sass/partials/modules/_page.scss */
.easyir-section-green .easyir-section--anchor span {
  display: inline-block;
  position: relative;
}
/* line 42, ../sass/partials/modules/_page.scss */
.easyir-section-green .easyir-section--anchor span:after {
  height: 2px;
  content: '';
  position: absolute;
  bottom: 5px;
  left: 0;
  width: 0%;
  background-color: #53b58e;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  transition-duration: 0.4s;
  -webkit-transition-timing-function: ease-in-out;
  -moz-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
}
/* line 62, ../sass/partials/modules/_page.scss */
.easyir-section-green .easyir-section--icon {
  font-size: 30px;
}

/* line 9, ../sass/partials/modules/_page.scss */
.easyir-page-purple {
  background-color: #b6a0f2;
}

/* line 13, ../sass/partials/modules/_page.scss */
.easyir-section-purple {
  background-color: #b6a0f2;
  color: white;
}
/* line 17, ../sass/partials/modules/_page.scss */
.easyir-section-purple .easyir-section--heading-underline {
  border-bottom: 1px solid #634ba6;
}
/* line 21, ../sass/partials/modules/_page.scss */
.easyir-section-purple .easyir-section--sub-heading {
  color: #634ba6;
}
/* line 25, ../sass/partials/modules/_page.scss */
.easyir-section-purple .easyir-section--anchor {
  text-decoration: none;
  color: #53b58e;
  -webkit-transition-property: color;
  -moz-transition-property: color;
  -o-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-in-out;
  -moz-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
}
/* line 29, ../sass/partials/modules/_page.scss */
.easyir-section-purple .easyir-section--anchor:hover {
  color: #1c8c5f;
}
/* line 32, ../sass/partials/modules/_page.scss */
.easyir-section-purple .easyir-section--anchor:hover span:after {
  width: 100%;
  background-color: #1c8c5f;
}
/* line 38, ../sass/partials/modules/_page.scss */
.easyir-section-purple .easyir-section--anchor span {
  display: inline-block;
  position: relative;
}
/* line 42, ../sass/partials/modules/_page.scss */
.easyir-section-purple .easyir-section--anchor span:after {
  height: 2px;
  content: '';
  position: absolute;
  bottom: 5px;
  left: 0;
  width: 0%;
  background-color: #53b58e;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  transition-duration: 0.4s;
  -webkit-transition-timing-function: ease-in-out;
  -moz-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
}
/* line 62, ../sass/partials/modules/_page.scss */
.easyir-section-purple .easyir-section--icon {
  font-size: 30px;
}

/* line 9, ../sass/partials/modules/_page.scss */
.easyir-page-white {
  background-color: white;
}

/* line 13, ../sass/partials/modules/_page.scss */
.easyir-section-white {
  background-color: white;
  color: #2c3e50;
}
/* line 17, ../sass/partials/modules/_page.scss */
.easyir-section-white .easyir-section--heading-underline {
  border-bottom: 1px solid #999999;
}
/* line 21, ../sass/partials/modules/_page.scss */
.easyir-section-white .easyir-section--sub-heading {
  color: #999999;
}
/* line 25, ../sass/partials/modules/_page.scss */
.easyir-section-white .easyir-section--anchor {
  text-decoration: none;
  color: #999999;
  -webkit-transition-property: color;
  -moz-transition-property: color;
  -o-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-in-out;
  -moz-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
}
/* line 29, ../sass/partials/modules/_page.scss */
.easyir-section-white .easyir-section--anchor:hover {
  color: gray;
}
/* line 32, ../sass/partials/modules/_page.scss */
.easyir-section-white .easyir-section--anchor:hover span:after {
  width: 100%;
  background-color: gray;
}
/* line 38, ../sass/partials/modules/_page.scss */
.easyir-section-white .easyir-section--anchor span {
  display: inline-block;
  position: relative;
}
/* line 42, ../sass/partials/modules/_page.scss */
.easyir-section-white .easyir-section--anchor span:after {
  height: 2px;
  content: '';
  position: absolute;
  bottom: 5px;
  left: 0;
  width: 0%;
  background-color: #999999;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  transition-duration: 0.4s;
  -webkit-transition-timing-function: ease-in-out;
  -moz-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
}
/* line 62, ../sass/partials/modules/_page.scss */
.easyir-section-white .easyir-section--icon {
  font-size: 30px;
}

/* line 9, ../sass/partials/modules/_page.scss */
.easyir-page-gray {
  background-color: #f1f0ee;
}

/* line 13, ../sass/partials/modules/_page.scss */
.easyir-section-gray {
  background-color: #f1f0ee;
  color: #34495e;
}
/* line 17, ../sass/partials/modules/_page.scss */
.easyir-section-gray .easyir-section--heading-underline {
  border-bottom: 1px solid #999999;
}
/* line 21, ../sass/partials/modules/_page.scss */
.easyir-section-gray .easyir-section--sub-heading {
  color: #999999;
}
/* line 25, ../sass/partials/modules/_page.scss */
.easyir-section-gray .easyir-section--anchor {
  text-decoration: none;
  color: #fe5000;
  -webkit-transition-property: color;
  -moz-transition-property: color;
  -o-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-in-out;
  -moz-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
}
/* line 29, ../sass/partials/modules/_page.scss */
.easyir-section-gray .easyir-section--anchor:hover {
  color: #cb4000;
}
/* line 32, ../sass/partials/modules/_page.scss */
.easyir-section-gray .easyir-section--anchor:hover span:after {
  width: 100%;
  background-color: #cb4000;
}
/* line 38, ../sass/partials/modules/_page.scss */
.easyir-section-gray .easyir-section--anchor span {
  display: inline-block;
  position: relative;
}
/* line 42, ../sass/partials/modules/_page.scss */
.easyir-section-gray .easyir-section--anchor span:after {
  height: 2px;
  content: '';
  position: absolute;
  bottom: 5px;
  left: 0;
  width: 0%;
  background-color: #fe5000;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  transition-duration: 0.4s;
  -webkit-transition-timing-function: ease-in-out;
  -moz-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
}
/* line 62, ../sass/partials/modules/_page.scss */
.easyir-section-gray .easyir-section--icon {
  font-size: 30px;
}

/* line 9, ../sass/partials/modules/_page.scss */
.easyir-page-dark {
  background-color: #323a45;
}

/* line 13, ../sass/partials/modules/_page.scss */
.easyir-section-dark {
  background-color: #323a45;
  color: white;
}
/* line 17, ../sass/partials/modules/_page.scss */
.easyir-section-dark .easyir-section--heading-underline {
  border-bottom: 1px solid white;
}
/* line 21, ../sass/partials/modules/_page.scss */
.easyir-section-dark .easyir-section--sub-heading {
  color: white;
}
/* line 25, ../sass/partials/modules/_page.scss */
.easyir-section-dark .easyir-section--anchor {
  text-decoration: none;
  color: white;
  -webkit-transition-property: color;
  -moz-transition-property: color;
  -o-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-in-out;
  -moz-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
}
/* line 29, ../sass/partials/modules/_page.scss */
.easyir-section-dark .easyir-section--anchor:hover {
  color: #b3b3b3;
}
/* line 32, ../sass/partials/modules/_page.scss */
.easyir-section-dark .easyir-section--anchor:hover span:after {
  width: 100%;
  background-color: #b3b3b3;
}
/* line 38, ../sass/partials/modules/_page.scss */
.easyir-section-dark .easyir-section--anchor span {
  display: inline-block;
  position: relative;
}
/* line 42, ../sass/partials/modules/_page.scss */
.easyir-section-dark .easyir-section--anchor span:after {
  height: 2px;
  content: '';
  position: absolute;
  bottom: 5px;
  left: 0;
  width: 0%;
  background-color: white;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  transition-duration: 0.4s;
  -webkit-transition-timing-function: ease-in-out;
  -moz-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
}
/* line 62, ../sass/partials/modules/_page.scss */
.easyir-section-dark .easyir-section--icon {
  font-size: 30px;
}

/* line 23, ../sass/partials/modules/_button.scss */
.easyir-button {
  font-family: 'Ubuntu', 'Raleway', sans-serif;
  border-width: 1px;
  border-style: solid;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  -webkit-transition-property: box-shadow, background-color, color;
  -moz-transition-property: box-shadow, background-color, color;
  -o-transition-property: box-shadow, background-color, color;
  transition-property: box-shadow, background-color, color;
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-timing-function: ease-in-out;
  -moz-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
}

/* line 36, ../sass/partials/modules/_button.scss */
.pure-button:focus, .pure-button:hover {
  background-image: none;
}
/* line 40, ../sass/partials/modules/_button.scss */
.pure-button:active {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

/* line 2, ../sass/partials/modules/_button.scss */
.easyir-button-blue {
  background-color: #79b9d9;
  border-color: white;
  color: white;
}
/* line 8, ../sass/partials/modules/_button.scss */
.easyir-button-blue:hover, .easyir-button-blue:focus {
  -webkit-box-shadow: 0 0 3px rgba(255, 255, 255, 0.75) inset;
  -moz-box-shadow: 0 0 3px rgba(255, 255, 255, 0.75) inset;
  box-shadow: 0 0 3px rgba(255, 255, 255, 0.75) inset;
}
/* line 12, ../sass/partials/modules/_button.scss */
.easyir-button-blue:active {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  background-color: white;
  border-color: #79b9d9;
  color: #79b9d9;
}

/* line 2, ../sass/partials/modules/_button.scss */
.easyir-button-green {
  background-color: #79d9b3;
  border-color: white;
  color: white;
}
/* line 8, ../sass/partials/modules/_button.scss */
.easyir-button-green:hover, .easyir-button-green:focus {
  -webkit-box-shadow: 0 0 3px rgba(255, 255, 255, 0.75) inset;
  -moz-box-shadow: 0 0 3px rgba(255, 255, 255, 0.75) inset;
  box-shadow: 0 0 3px rgba(255, 255, 255, 0.75) inset;
}
/* line 12, ../sass/partials/modules/_button.scss */
.easyir-button-green:active {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  background-color: white;
  border-color: #79d9b3;
  color: #79d9b3;
}

/* line 2, ../sass/partials/modules/_button.scss */
.easyir-button-purple {
  background-color: #b6a0f2;
  border-color: white;
  color: white;
}
/* line 8, ../sass/partials/modules/_button.scss */
.easyir-button-purple:hover, .easyir-button-purple:focus {
  -webkit-box-shadow: 0 0 3px rgba(255, 255, 255, 0.75) inset;
  -moz-box-shadow: 0 0 3px rgba(255, 255, 255, 0.75) inset;
  box-shadow: 0 0 3px rgba(255, 255, 255, 0.75) inset;
}
/* line 12, ../sass/partials/modules/_button.scss */
.easyir-button-purple:active {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  background-color: white;
  border-color: #b6a0f2;
  color: #b6a0f2;
}

/* line 2, ../sass/partials/modules/_button.scss */
.easyir-button-white {
  background-color: white;
  border-color: white;
  color: white;
}
/* line 8, ../sass/partials/modules/_button.scss */
.easyir-button-white:hover, .easyir-button-white:focus {
  -webkit-box-shadow: 0 0 3px rgba(255, 255, 255, 0.75) inset;
  -moz-box-shadow: 0 0 3px rgba(255, 255, 255, 0.75) inset;
  box-shadow: 0 0 3px rgba(255, 255, 255, 0.75) inset;
}
/* line 12, ../sass/partials/modules/_button.scss */
.easyir-button-white:active {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  background-color: white;
  border-color: white;
  color: white;
}

/* line 2, ../sass/partials/modules/_button.scss */
.easyir-button-gray {
  background-color: #f1f0ee;
  border-color: #34495e;
  color: #34495e;
}
/* line 8, ../sass/partials/modules/_button.scss */
.easyir-button-gray:hover, .easyir-button-gray:focus {
  -webkit-box-shadow: 0 0 3px #34495e inset;
  -moz-box-shadow: 0 0 3px #34495e inset;
  box-shadow: 0 0 3px #34495e inset;
}
/* line 12, ../sass/partials/modules/_button.scss */
.easyir-button-gray:active {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  background-color: #34495e;
  border-color: #f1f0ee;
  color: #f1f0ee;
}

/* line 2, ../sass/partials/modules/_button.scss */
.easyir-button-dark {
  background-color: #323a45;
  border-color: white;
  color: #323a45;
}
/* line 8, ../sass/partials/modules/_button.scss */
.easyir-button-dark:hover, .easyir-button-dark:focus {
  -webkit-box-shadow: 0 0 3px rgba(255, 255, 255, 0.75) inset;
  -moz-box-shadow: 0 0 3px rgba(255, 255, 255, 0.75) inset;
  box-shadow: 0 0 3px rgba(255, 255, 255, 0.75) inset;
}
/* line 12, ../sass/partials/modules/_button.scss */
.easyir-button-dark:active {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  background-color: #323a45;
  border-color: #323a45;
  color: #323a45;
}
