// -------------------- Display Box Model -------------------

$section-padding: 95px 100px 25px 100px;
$section-heading-margin: 10px 0;
$section-header-padding: 20px 35px;
$section-footer-padding: 30px 25px;
$section-content-column-padding: 30px;
$section-content-max-width: 800px;
$section-content-margin: 0 auto;

// ----------------------- Typography -----------------------

$section-heading-font-weight: 300;
$section-heading-primary-font-size: 48px;
$section-heading-secondary-font-size: 36px;
$section-heading-tertiary-font-size: 20px;
$section-sub-heading-font-weight: normal;
$section-sub-heading-font-size: 18px;
